<div class="header">
    <div class="icon">
        <img src="/images/housek1_02.gif">
    </div>
</div>

<div class="container">
    <div class="main">
        <div id="docker">
            <img src="/images/air0.png" name="air" onhover="javascript:change(this, 'air1.png')";/>
            <img src="/images/temp0.png" name="temp" />
            <img src="/images/light0.png" name="light" />
            <img src="/images/humid0.png" name="humid" />
        </div>
        <div id="adkeyin">
            <div id="container">
                <form action="change">
                    <div class="content">
                        <img id="content-loader" src="/images/loading.gif">
                    </div>
                </form>
            </div>
            <!--
                <input type="text" />
                <img src="/images/adkeyin.png" />
            -->
        </div>
    </div>
<div>

<div class="container" id="contain">
    <div class="information">
        <span id="levels">Danger</span>
        <span id="description">
            co under 70ppm<br/>(about 15~20ppm)
        </span>
        <img src="/images/green.gif" id="progress">
        <img src="/images/hk01_05.gif">
    </div>
    <div class="details">
        <!-- <img src="/images/hk01_06.gif"> -->
        <span>No relative data</span>
    </div>
</div>

<div class="footer">
    <div class="links">    
        <ul>
            <li><a href="###">FAQ</a></li>
            <li><a href="###">Contact Us</a></li>
        </ul>
        <img src="/images/copyright.jpg">
    </div>
</div>

<script>
var zip = "<%= zip %>", address = "<%= address %>",
    prog = 266;
</script>

