<div class="header">
    <div class="icon">
        <img src="/images/housek1_02.gif">
    </div>
</div>

<div class="container">
    <div class="main">
        <div id="docker">
            <a href="###"><img src="/images/air0.png" /></a>
            <a href="###"><img src="/images/temp0.png" /></a>
            <a href="###"><img src="/images/light0.png" /></a>
            <a href="###"><img src="/images/humid0.png" /></a>
        </div>
        <div id="adkeyin">
            <input type="text" />
            <img src="/images/adkeyin.png" />
        </div>
    </div>
<div>

<div class="container">
    <div class="information">
        <span id="levels">Danger</span>
        <span id="description">
            co under 70ppm<br/>(about 15~20ppm)
        </span>
        <img src="/images/green.gif" id="progress">
        <img src="/images/hk01_05.gif">
    </div>
    <div class="details">
        <img src="/images/hk01_06.gif">      
    </div>
</div>

<div class="footer">
    <div class="links">    
        <ul>
            <li><a href="###">FAQ</a></li>
            <li><a href="###">Contact Us</a></li>
        </ul>
        <img src="/images/copyright.jpg">
    </div>
</div>
